{% for server in chrony_ntp_servers %}
server {{ server }} iburst
{% endfor %}
# Allow the system clock to be stepped in the first three updates
# if its offset is larger than one second.
makestep 1.0 3
# Specifies the location of the drift file, which records the rate at which the system clock gains or loses time.
driftfile /var/lib/chrony/chrony.drift
# Specifies the location of the file containing keys for NTP authentication.
keyfile {{ chrony_path }}/chrony.keys
{% if chrony_rtcsync %}
rtcsync
{% endif %}
{% if chrony_log_enable %}
log {{ chrony_log }}
logdir {{ chrony_logdir }}
{% endif %}