PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
Server={{ item.zabbix_server }}
ServerActive={{ item.zabbix_server_active }}
Hostname={{ item.ansible_hostname }}
Include=/etc/zabbix/zabbix_agentd.d/*.conf